[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
matplotlib = "*"
plotly = "*"
xlsxwriter = "*"

[dev-packages]

[requires]
python_version = "3.12"
